.song {
	/*border: 1px solid #525f59;*/
	background-color: #fbfbfb;
	border-radius: 2px;
	min-height: 90px;
	height: auto;
	width: 98%;
	margin-top: 10px;
	padding: 5px;
	position: relative;

	cursor: normal;
	opacity: 0.75;
	transition: all 0.5s ease-out;
}

.song:hover {
	/*cursor: pointer;*/
	opacity: 1;
	transition: all 0.3s ease-in;
}

.currentSong {
	opacity: 9;
}

.suggestedBy, .suggestedByUser {
	float: right;
}

.artwork {
	/*border: 4px solid black;*/
	border-radius: 2px;
	display: inline-block;
	height: 80px;
	width: 80px;
	padding: 5px;
	vertical-align: center
}

.songInfo {
	/*border: 4px solid yellow;*/
	display: inline-block;
	height: auto;
	width: 57%;
	padding: 0 5px;
	word-wrap: break-word;
	vertical-align: top;
}

.channelTitle {
	display: block;
	color: #afa8c2;
	font-size: 12px;
}

.songTitle {
	display: block;
	color: #525f59;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.song {
		border-radius: 4px;
		width: 95%;
		margin-top: 20px;
		padding: 20px;
	}

	.artwork {
		border-radius: 4px;
		height: 180px;
		width: 180px;
		margin-right: 10px;
	}

	.songInfo {
		width: 73%;
	}

	.channelTitle {
		font-size: 32px;
	}
}